= form_for @structure, html: { class: 'form-horizontal', role: 'form', remote: true } do |f|
  %div.modal-header
    %button.close.some{ type: 'button', 'data-dismiss': 'modal', 'aria-hidden': 'true' }
      ×
    %h4.modal-title#myModalLabel110063
      = @title
  %div.modal-body
  
    = render 'common/flash'

    %div.form-group
      %label.col-sm-4.control-label.some{ for: 'inputStructureIdName' }
        Родитель
      %div.col-sm-8
        = f.collection_select :structure_id, @parents, :id, :name, include_blank: true, hide_label: true, :selected => @structure.structure_id
    %div.form-group
      %label.col-sm-4.control-label.some{ for: 'inputStructureName' }
        Наименование
      %div.col-sm-8
        = f.text_field :name, autofocus: true, html: { class: 'form-control', id: 'inputStructureName', type: 'structureame' }
    %div.form-group
      %label.col-sm-4.control-label.some{ for: 'inputStructureAddress' }
        Адрес
      %div.col-sm-8
        = f.text_field :address, html: { class: 'form-control', id: 'inputStructureAddress', type: 'structureaddress' }
  %div.modal-footer
    %button.btn.btn-default.some{ type: 'button', 'data-dismiss': 'modal' }
      Отмена
    - if action_name != 'show'
      %button.btn.btn-primary.some{ type: 'button submit' }
        Сохранить