%tr
  %td= structure.id
  %td
    - if structure.structure_id.blank?
      = link_to structure.name, 
            structure,
            remote: true, 
            onclick: "$('#modal-container-110063').modal('show');",
            'text-indent': '20px'
    - else
      %div.col-md-12
        %div.some{ class: "col-md-#{count}" }
        %div.some{ class: "col-md-#{12 - count}" }
          = link_to structure.name, 
            structure,
            remote: true, 
            onclick: "$('#modal-container-110063').modal('show');",
            'text-indent': '20px'
  %td
    = link_to image_tag('plus.png', border: 0, size: '20x20'), 
            new_structure_path(:id => structure.id),
            title: 'Добавить новую запись',
            remote: true, 
            onclick: "$('#modal-container-110063').modal('show');"
  %td
    = link_to image_tag("pen.png", border: 0, size: '24x24'), 
          edit_structure_path(structure), 
          remote: true, 
          onclick: "$('#modal-container-110063').modal('show');"
  %td
    - if structure.avalable_to_delete?
      = link_to image_tag("delete.png", border: 0, size: '24x24'),
          structure_path(structure, :page => params[:page]),
          :method => :delete, 
          :data => { :confirm => "Действительно удалить структурную единицу: #{structure.name}?" }

- if Structure.where("structure_id = #{structure.id}").size > 0
  - count = count.blank? ? 0 : count + 1
  - Structure.where("structure_id = #{structure.id}").each do |f|
    = render :partial => "structure", :object => f, :locals => { :count => count }