= form_for @group, html: { class: 'form-horizontal', role: 'form', remote: true } do |f|
  %div.modal-header
    %button.close.some{ type: 'button', 'data-dismiss': 'modal', 'aria-hidden': 'true' }
      ×
    %h4.modal-title#myModalLabel110063
      = @title
  %div.modal-body
  
    = render 'common/flash'

    %div.form-group
      %label.col-sm-4.control-label{ for: 'inputGroupIdName' }
        = t('.parent')
      %div.col-sm-8
        = f.collection_select :group_id, @parents, :id, :title, { include_blank: true, hide_label: true, :selected => @group.group_id }, { :class => "form-control" }
    %div.form-group
      %label.col-sm-4.control-label.some{ for: 'inputGroupName' }
        = t('.title')
      %div.col-sm-8
        = f.text_field :title, autofocus: true, :class => "form-control", :id => "inputGroupName", :type => "groupname"
  %div.modal-footer
    %button.btn.btn-default{ type: 'button', 'data-dismiss': 'modal' }
      = t('.close')
    - if action_name != 'show'
      %button.btn.btn-primary{ type: 'button submit' }
        = t('.submit')