%tr
  %td= group.id
  %td
    - if group.group_id.blank?
      = link_to group.title, 
            group,
            remote: true, 
            onclick: "$('#modal-container-110063').modal('show');",
            'text-indent': '20px'
    - else
      %div.col-md-12
        %div.some{ class: "col-md-#{count}" }
        %div.some{ class: "col-md-#{12 - count}" }
          = link_to group.title, 
            group,
            remote: true, 
            onclick: "$('#modal-container-110063').modal('show');",
            'text-indent': '20px'
  %td
    = link_to image_tag('plus.png', border: 0, size: '20x20'), 
            new_group_path(:id => group.id),
            title: 'Добавить новую запись',
            remote: true, 
            onclick: "$('#modal-container-110063').modal('show');"
  %td
    = link_to image_tag("pen.png", border: 0, size: '24x24'), 
          edit_group_path(group), 
          remote: true, 
          onclick: "$('#modal-container-110063').modal('show');"
  %td
    - if group.avalable_to_delete?
      = link_to image_tag("delete.png", border: 0, size: '24x24'),
          group_path(group, :page => params[:page]),
          :method => :delete, 
          :data => { :confirm => "Действительно удалить номенклатурную единицу: #{group.title}?" }

- if Group.where("group_id = #{group.id}").size > 0
  - count = count.blank? ? 0 : count + 1
  - Group.where("group_id = #{group.id}").each do |f|
    = render :partial => "group", :object => f, :locals => { :count => count }