= form_for @user, url: {action: "update_password"}, html: { class: 'form-horizontal', role: 'form', remote: true, } do |f|
  %div.modal-header
    %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-hidden': 'true' }
      ×
    %h4.modal-title#myModalLabel110063
      = @title
  %div.modal-body
  
    = render 'common/flash'

    %div.form-group
      %label.col-sm-4.control-label{ for: 'inputStructureName' }
        = t('.enter_password')
      %div.col-sm-8
        = f.email_field :password, autofocus: true, :class => "form-control", :id => "inputPassword", :type => "password"
    %div.form-group
      %label.col-sm-4.control-label{ for: 'inputStructureName' }
        = t('.enter_password_confirmation')
      %div.col-sm-8
        = f.email_field :password_confirmation, :class => "form-control", :id => "inputPasswordConfirmation", :type => "password"
  %div.modal-footer
    %button.btn.btn-default{ type: 'button close', 'data-dismiss': 'modal' }
      = t('.close')
    - if action_name != 'show'
      %button.btn.btn-primary{ type: 'button submit' }
        = t('.submit')