- if action_name != 'show'
  %tr.group-user-plus{ hidden: true }
    = form_for :new_group, url: "add_group" do |u_g|
      %td
        %input.form-control{ name: :id, type: 'hidden', value: "#{@user.id}", id: :user_id } 
        = u_g.collection_select :group_id, @groups, :id, :title, { include_blank: true }, {:class => "form-control "}
      %td
        = image_submit_tag "galochka.png", border: 0, size: '20x20', class: "send-new-group"
  %tr.group-user-add
    %td
    %td
      = link_to image_tag('plus.png', border: 0, size: '20x20'), "#", class: "plus-link"
- @user_groups.each do |g|
  %tr
    %td= g.group.title
    %td
      - if action_name != 'show'
        = link_to image_tag("delete.png", border: 0, size: '24x24'),
                  delete_group_path(g),
                  :method => :delete,
                  remote: true
                  
:javascript
  $(function() {
    $('.plus-link').click(function() {
      $('.group-user-plus').show();
      $('.group-user-add').hide();
      return false;
    });
    $('.send-new-group').click(function() {
      $.ajax({
        type: "POST",
        url: "/user/" + $('#user_id')[0].value + "/" + $('#new_group_group_id')[0].value
      });
      return false;
    });
  });
  