
%h1 
  = link_to image_tag('back.png', border: 0, size: '36x36'), 
              staff_test_path(@staff_test)
  = t('.title') 
  (
  = link_to image_tag('plus.png', border: 0, size: '36x36'), 
            new_staff_test_access_time_path,
            class: '',
            title: t('.new_access_time'),
            remote: true, 
            onclick: "$('#modal-container-110063').modal('show');"
  )
%br
%table.table.table-striped
  %thead
    = render 'access_time_title'
  %tbody.tbody-access_time
    = render @access_times

%br

= paginate @access_times, :theme => 'twitter-bootstrap-3',
                   :pagination_class => "pagination-sm"

%br
