%div.btn-group.btn-group-lg
  = link_to t('.exit'), staff_tests_path, {class: "btn btn-default button" }
  = link_to t('.edit'), edit_staff_test_path(@staff_test), {class: "btn btn-default button" }
  = link_to t('.access_times'), staff_test_access_times_path(@staff_test), {class: "btn btn-default button" }
  = link_to t('.questions_list'), staff_test_questions_path(@staff_test), {class: "btn btn-default button" }

%div.form-group
  %div.form-group.col-sm-12
    %label.control-label{ for: 'name' }
      = t('.name')
    = @staff_test.name
  %div.form-group.col-sm-12
    %label.control-label{ for: 'description' }
      = t('.description')
    %div.mce-content-body
      = raw @staff_test.description

:javascript
  Prism.highlightAll();  // Обновление красивых стилей для вставок с кодом