%div.form-group
  %div.form-group.col-sm-4
    = link_to t('.questions_list'), "#", {class: "btn btn-info" }
  %div.form-group.col-sm-4
    = link_to t('.access_times'), staff_test_access_times_path(@staff_test), {class: "btn btn-primary" }
  %div.form-group.col-sm-2
  %div.form-group.col-sm-2
    = link_to t('.exit'), staff_tests_path, {class: "btn btn-primary" }
  %div.form-group.col-sm-2
  %div.form-group.col-sm-12
    %label.control-label{ for: 'name' }
      = t('.name')
    = @staff_test.name
  %div.form-group.col-sm-12
    %label.control-label{ for: 'name' }
      = t('.description')
    %div.mce-content-body
      = raw @staff_test.description

:javascript
  Prism.highlightAll();  // Обновление красивых стилей для вставок с кодом