= form_for @role, html: { class: 'form-horizontal', role: 'form', remote: true } do |f|
  %div.modal-header
    %button.close.some{ type: 'button', 'data-dismiss': 'modal', 'aria-hidden': 'true' }
      ×
    %h4.modal-title#myModalLabel110063
      = @title
  %div.modal-body
  
    = render 'common/flash'

    %div.form-group
      %label.col-sm-4.control-label{ for: 'inputRoleName' }
        = t('.name')
      %div.col-sm-8
        = f.text_field :name, autofocus: true, :class => "form-control", :id => "inputRoleName", :type => "rolename"
  %div.modal-footer
    %button.btn.btn-default{ type: 'button', 'data-dismiss': 'modal' }
      = t('.close')
    - if action_name != 'show'
      %button.btn.btn-primary{ type: 'button submit' }
        = t('.submit')