= form_for @nomenclature, html: { class: 'form-horizontal', role: 'form', remote: true } do |f|
  %div.modal-header
    %button.close.some{ type: 'button', 'data-dismiss': 'modal', 'aria-hidden': 'true' }
      ×
    %h4.modal-title#myModalLabel110063
      = @title
  %div.modal-body
  
    = render 'common/flash'

    %div.form-group
      %label.col-sm-4.control-label.some{ for: 'inputNomenclatureIdName' }
        Родитель
      %div.col-sm-8
        = f.collection_select :nomenclature_id, @parents, :id, :title, include_blank: true, hide_label: true, :selected => @nomenclature.nomenclature_id
        // = f.text_field :nomenclature_id, autofocus: true, html: { class: 'form-control', id: 'inputNomenclatureName', type: 'nomenclaturename' }
    %div.form-group
      %label.col-sm-4.control-label.some{ for: 'inputNomenclatureName' }
        Наименование
      %div.col-sm-8
        = f.text_field :title, autofocus: true, html: { class: 'form-control', id: 'inputNomenclatureName', type: 'nomenclaturename' }
  %div.modal-footer
    %button.btn.btn-default.some{ type: 'button', 'data-dismiss': 'modal' }
      Отмена
    - if action_name != 'show'
      %button.btn.btn-primary.some{ type: 'button submit' }
        Сохранить