%nav{ class: 'navbar navbar-default navbar-fixed-top', role: 'navigation' }
  %div{ class: 'navbar-header'}
    %button.some{ type: 'button', class: 'navbar-toggle', 'data-toggle': 'collapse', 'data-target': '#bs-example-navbar-collapse-1' }
      %span{ class: 'sr-only' } Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand.some{ href: root_path } 
      = image_tag("logo.png", border: 0, size: '115x30')
  %div{ class: 'collapse navbar-collapse', id: 'bs-example-navbar-collapse-1'}
    %ul.some{ class: 'nav navbar-nav'}
      %li.User.dropdown
        %a{ href: '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown' }
          = t('.user_control')
          %strong{ class: 'caret' }
        %ul.dropdown-menu
          %li
            %a{ href: users_path }
              = t('.users')
          %li
            %a{ href: structures_path }
              = t('.structures')
          %li
            %a{ href: nomenclatures_path }
              = t('.nomenclatures')
          %li
            %a{ href: groups_path }
              = t('.groups')
      %li.Test
        %a{ href: staff_tests_path }
          = t('.tests')
    = render 'layouts/search_form'
    
    %ul{ class: 'nav navbar-nav navbar-right' }
      - if user_signed_in?
        %li.dropdown
          %a{ href: '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown' }
            = current_user.initials
            %strong{ class: 'caret' }
          %ul.dropdown-menu
            %li
              = link_to t('.change_password'),
                edit_password_path(current_user),
                remote: true,
                onclick: "$('#modal-container-110063').modal('show');"
            %li.divider
            %li
              = link_to t('.logout'), destroy_user_session_path, method: :delete
      - else
        %li
          = link_to t('.login'), new_user_session_path
